body {
    /* background-color: #27355C !important; */
    background-color: #FEFAEF !important;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz_card {
    width: 30rem;
}

#questionBody {
    background-color: #F7F7F7;
}

.question_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05)
}

.bg-red {
    /* background-color: #F81816; */
    background-color:  #FFA3A4 !important;
   
}

.bg-green {
    /* background-color: #4CC014; */
    background-color: #B7F699 !important;
}


.lock-answers {
    pointer-events: none;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}
