body {
    /* background-color: #27355C !important; */
    background-color: #FEFAEF !important;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-nav {
    height: 45rem;
    width: 10rem;
    background-color: #27355C !important;
}

.bg-blue {
    background-color: #27355C !important;
}
.quiz-card {
    width: 30rem;
    height: 45rem;
}

#questionBody {
    background-color: #F7F7F7;
}

.question_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05)
}

.bg-red {
    /* background-color: #F81816; */
    background-color:  #FFA3A4 !important;
   
}

.bg-green {
    /* background-color: #4CC014; */
    background-color: #B7F699 !important;
}


.lock-answers {
    pointer-events: none;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.navbar-nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: white !important;
    --bs-nav-link-hover-color: #0dcaf0 !important;
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}



.nav-link.active {
    color: yellow !important;
}