body {
    background-color: #FEFAEF !important;
    font-family: 'Lato', sans-serif !important;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    max-width: 540px; overflow: hidden;
}
.col-md-4 {
    background-color: #27355C !important;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: white !important;
    --bs-nav-link-hover-color: #0dcaf0 !important;
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link.active {
    color: yellow !important;
} 

.logo {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.rounded-bottom-right {
    border-bottom-right-radius: var(--bs-card-border-radius);
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05)
}

.text-center {
    text-align: center;
}

.fontsize-small {
    font-size: 0.5rem!important;
    text-align: center;
}

/* in script */
.bg-red {
    background-color:  #FFA3A4 !important;
}

.bg-green {
    background-color: #B7F699 !important;
}

.lock-answers {
    pointer-events: none;
}

/* Media */
@media(max-width: 768px) {
div .quiz-card {
    border-radius: 0;
 }
}